---
layout: default
---

{% assign sorted_articles = site.articles | sort: "date" | reverse %}

<ul class="articles-list">
  {% for article in sorted_articles %}
  <li class="article-item">
    <div class="article-item-top">
      <span class="article-date">{{ article.date | date: "%Y-%m-%d" }}</span>
      <a href="{{ article.url | relative_url }}" class="article-title-link">{{ article.title | escape }}</a>
    </div>
    {% if article.description %}<p class="article-desc">{{ article.description }}</p>{% endif %}
  </li>
  {% endfor %}
</ul>
